html,
body
{
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
body
{
  overflow-x: hidden;
  background: url('../images/bg.jpg') repeat top left;
}

h1
{
  font-size: 20px;
  font-weight: normal;
  color: #2e6e80;
}

/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
.scroll
{
  position: fixed;
  bottom: 0;
  left: 0;
}

/**
  * z-index ordering of the different layers, do this for your layers,
  * also assign absolute width (to prevent issues if the script gets executed before the images get loaded)
  */
.horizon
{
  z-index: 1;
  width: 3000px;
}

.middle
{
  z-index: 500;
  width: 4000px;
}

.front
{
  z-index: 1000;
  width: 6000px;

}

.save
{
  position : fixed;
  bottom : 20px;
  padding-left: 40px;

}

.badg
{
position:fixed;
padding-left:5000px;
top: 300px;

}

.arrow
{

position:fixed;
padding-left:5150px;
top:350px;

}

.dino
{
position: fixed;
padding-left: 3660px;
top:410px;

}


.page
{
   top: 0px;
   width: 250px;
   background-color:rgba(255, 210, 153, 0.6);
   padding: 10px 30px;
   position: absolute;
}

.marsouin
{
   left: 750px;
   top:70px;
}


.page1
{
   top: 0px;
   width: 350px;
   background-color:rgba(255, 250, 243, 0.6);
   padding: 10px 30px;
   position: absolute;
}

.marsouin1
{
   left: 1150px;
   top:460px;
}

.page2
{
   top: 0px;
   width: 410px;
   background-color:rgba(255, 190, 184, 0.6);
   padding: 10px 30px;
   position: absolute;
}

.marsouin2
{
   left: 1600px;
   top:300px;
}


.page3
{
   top: 0px;
   width: 530px;
   background-color:rgba(255, 210, 153, 0.6);
   padding: 0px 30px;
   position: absolute;
}

.marsouin3
{
   left: 2530px;
   top:320px;
}


.page4
{
   top: 0px;
   width: 320px;
   background-color:rgba(255, 250, 243, 0.6);
   padding: 0px 70px;
   position: absolute;
}

.marsouin4
{
   left: 2900px;
   top:240px;
}
